body{
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#menu{
  background-color:Transparent;
  position: absolute;
  top: 0;
  right: 0;
  width: 180px;
  height: 347px;
  box-sizing: border-box;
  z-index: 2;
}
ul{
  list-style: none;
}
li{
  margin: 5px;
}
.Title{
  top: 0;
  position: absolute;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}
.main-title{
  color: #231815;
  text-align: center;
  margin: 0%;
  padding:150px 0px 150px 0px ;
  font-weight: normal;
  font-size: 150%;
}
.sub-title{
  color:#aaaaaa;
  display: block;
  font-size:15px;
}

p{
  font-size: 15px;
  margin: 0;
}

h2,h3 {
  margin: 0;
}

.work1{
  width: 100%;
  background-color:#87CEEB	;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.left-box{
  width: 300px;
}
.work2{
  width: 100%;
  background-color:#FDF5E6;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
img{
  height: 300px;
  width: 300px;
}
.about{
  background-color: #B1F9D0	;
}

form {
display: flex;
flex-direction: column;
box-sizing: border-box;
align-items: center;
}
.message{
  background-color:#f1f1f1;
}
.message-form{
  width: 40%;
  padding: 10px;
}
input, textarea{
  width: 90%;
  margin: 5px 0px 0px 0px;
}
textarea{
  height: 150px;
}
[type = submit]{
  width: 80px;
}

.footer{
  background-color:#f1f1f1;
  color:#777777;
  padding: 10px;
  text-align: center;
}